@{Layout="_Layout";}
@model TreatShop.Models.Flavor
<h1>Add a treat to @Model.Name</h1>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId);
  @* @Html.HiddenFor(model => model.Name); *@

  @Html.Label("Select Treat")
  @Html.DropDownList("TreatId")
  <input type="submit" value="mmmm yes"/>
}

<p>@Html.ActionLink($"nevermind", "Details", null, new {id = @Model.FlavorId}, new {@class = "btn btn-warning"})</p>