@{Layout="_Layout";}

@model TreatShop.Models.Flavor

<h1>Treats listed under @Model.Name</h1>

@foreach(var join in Model.Treats)
{
  <p>@join.Treat.Name</p>
}

@* if (User.Identity.IsAuthenticated && ViewBag.IsCurrentUser) *@
@if (User.Identity.IsAuthenticated)
{
  <hr>
  <div class="row">
  <p>@Html.ActionLink($"Remove {Model.Name}", "Delete", null, new {id = @Model.FlavorId}, new {@class = "btn btn-warning "})</p>
  <p>@Html.ActionLink($"Edit {Model.Name}", "Edit", null, new {id = @Model.FlavorId}, new {@class = "btn btn-warning"})</p>
  <p>@Html.ActionLink($"Classify treat as {Model.Name}", "AddTreat", null, null, new {@class = "btn btn-warning"})</p>
  </div>
}