@{Layout="_Layout";}

@model TreatShop.Models.Flavor

<h1>Treats listed under @Model.Name</h1>
@if(Model.Treats.Count <= 0)
{
  <p>There are currently no treats with this flavor</p>
}
else
{
  @foreach(var join in Model.Treats)
  {
    <p>@join.Treat.Name</p>
  }
}

  <hr>
  <div class="row">
  <p>@Html.ActionLink($"Remove {Model.Name}", "Delete", null, new {id = @Model.FlavorId}, new {@class = "btn btn-warning "})</p>
  <p>@Html.ActionLink($"Edit {Model.Name}", "Edit", null, new {id = @Model.FlavorId}, new {@class = "btn btn-warning"})</p>
  <p>@Html.ActionLink($"Add a treat!", "AddTreat", null, new {id = @Model.FlavorId}, new {@class = "btn btn-warning"})</p>
  </div>