@{Layout="_Layout";}

@model TreatShop.Models.Treat
<h1>@Model.Name's flavors</h1>

@foreach(var join in Model.Flavors)
{
  <p>@join.Flavor.Name</p>
}

@if (User.Identity.IsAuthenticated && ViewBag.isCurrentUser)
{
  <hr>
  <div class="row">
  <p>@Html.ActionLink($"Remove {Model.Name}", "Delete", null, new {id = @Model.TreatId}, new {@class = "btn btn-warning "})</p>
  <p>@Html.ActionLink($"Edit {Model.Name}", "Edit", null, new {id = @Model.TreatId}, new {@class = "btn btn-warning"})</p>
  <p>@Html.ActionLink($"Add a flavor!", "AddFlavor", null, new {id = @Model.TreatId}, new {@class = "btn btn-warning"})</p>
  </div>
}