@{Layout="_Layout";}

@model TreatShop.Models.Treat

<h1>Editing: @Html.DisplayFor(model => model.Name)</h1>

@using (@Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)
  @Html.DisplayNameFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.Label("select flavor")
  @Html.DropDownList("FlavorId")

  <input type="submit" value="Submit" class="btn btn-default" />
}

<p>@Html.ActionLink($"nevermind", "Details", null, new {id = @Model.TreatId}, new {@class = "btn btn-warning"})</p>